<div heading="Select Image" class=".hidden-print">
  <div class="panel panel-primary topbuffer">
    <div class="panel-heading">
      <a href="" class="pull-right bg-primary" data-ng-click="mnCtl.needHelp()"><span>How do I use this&nbsp;</span><i class="fa fa-question-circle"></i></a>
      <h4>Select an Image</h4>
    </div>
    <div class="panel-body">
      <data-upload-image
        class="col-md-12 mainPanel"
        data-context="source" data-aspect-ratio="aspectRatio"
        data-ng-model="mnCtl.currentDocument.sourceImageDataUri"></data-upload-image>

    </div>
  </div>
</div>
